/* LAYOUT TEMPLATE */
body {
   display: grid;
   grid-template-rows: auto 1fr auto;
   grid-template-columns: 1fr;
   background-color: #e4e0d5;
   min-height: 100vh;
}
header {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}
.title {
    display: flex;
    justify-content: center;
}
h2.logo {
    background-color: #6f4175;
    color: #e4e0d5;
    width: 12rem;
    height: 6rem;
    border-radius: 50%;
    display: grid;
    align-items: center;
    border-radius: 50%;
    text-align: center;
    font-family: "Molle", "Mr Bedfort", cursive;
    font-weight: 400;
    font-style: normal;
}
h2.logo a:link {
    color: #e4e0d5;
    text-decoration: none;
}
h2.logo a:visited {
    color: #e4e0d5;
    text-decoration: none;
}
h2.logo a:hover {
    color: #e4e0d5;
    text-decoration: overline underline;
}
h2.logo a:active{
    color: #e4e0d5;
    text-decoration: underline;
}
nav li {
    list-style-type: none;
    background-color: #3f0243;
    margin: 1rem;
}
nav a {
    text-decoration: none;
    color: lightgrey;
    padding: 25px;
}
nav a:hover {
    color: #e4e0d5;
    background-color: #3f0243;
}
nav ul {
    display: flex;
    justify-content: center;
    background-color: #3f0243;
    padding: 25px;
    margin: 0;
    flex-wrap: wrap;
}
main {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    background-color: #ffffff;
    font-family: "Bellota", system-ui;
    font-weight: 400;
    font-style: normal;
}
footer {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
}
footer li {
        list-style-type: none;
        background-color: #3f0243;
        margin: 1rem;
    }
footer a {
        text-decoration: none;
        color: #e4e0d5;
        padding: 25px;
    }
footer a:hover {
        color: #e4e0d5;
        background-color: #3f0243;
    }
footer ul {
        display: flex;
        justify-content: center;
        background-color: #3f0243;
        padding: 25px;
        margin: 0;
        flex-wrap: wrap;
    }

/* HOME PAGE */
main.home { 
    margin: 10px;
    background-color: #e4e0d5;
}
main.home h1 {
    padding: 1rem;
    border: 3px #3f0243 solid;
    background-color: #E4B7AD;
    color: #7D1049;
    border-radius: 10%;
    display: grid;
    text-align: center;
    width: fit-content;
 
    font-family: "Playwrite CU", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
main.home p {
    align-content: center;
    color: #3F0243;
    font-size: large;
}
main.home img {
    float: right;
    max-width: 100%;
    max-height: 100%;
    margin: 2rem;
    /* got the positioning right but i don't want the image to auto float to the top when window minimized */
}

/* ABOUT PAGE */
main.aboutme {
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: #E4B7AD;
    padding-left: 1rem;
    padding-right: 1rem;
}
main.aboutme h1 {
    color: #7D1049;
    font-family: "Playwrite CU", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
main.aboutme h2 {
    color: #3F0243;
}
main.aboutme p {
    color: #3F0243;
}
/* how to target elements based on page? */
main.aboutme a:link {
    color: #6f4175;
}
main.aboutme img {
    float: right;
    max-width: 60%;
    margin-left: 0.5rem;
    border: 3px#7D1049 solid;
}
/* RESUME */
h1 {
    color: ;
    background-color: #;
    padding: 1.5rem;
}
p {
    margin: 1.5rem;
}
img {
    float: right;
    border: 2px #fffff solid;
    margin: .65rem;
    max-width: 70%;
}
h2 {
    color:#2236e;
    background-color: #;
    padding: 0.5rem;
}
hr {
    border: 6px dotted #;
}
main {
    border: 2px white solid;
    margin: 0.5rem;
    margin-top: 0;
    background-color: #E4E0D5;
    max-width: 90rem;
}

/* PORTFOLIO */
/* add grid??? */
main.portfolio {
    background-color: #e4e0d5;
}
main.portfolio h1 {
    float: right;
    margin: 20px;
    display: grid;
    align-content: center;

    font-family: "Playwrite CU", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
main.portfolio h2 {
    justify-content: right;
}
main.portfolio p {
    padding: 10px; 
}
.academicwriting {
    width: 45%;
    float: left;
    padding: 10px;
    background-color: #E4B7AD;
    border-radius: 2rem;

}
.creativewriting {
    width: 45%;
    float: right;
    padding: 10px;
    background-color: #E4B7AD;
    border-radius: 2rem;
}

/* ACADEMIC HOME */
main.academic {
    background-color: #E4B7AD;
}
main.academic h1 {
    text-align: center;
    color: #7D1049;
    
    font-family: "Playwrite CU", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
main.academic h2 {
    color: #7D1049;
}
.wrapper {
    border: 10px #6f4175 dotted;
    border-radius: 0.5rem;
    margin: 0.5rem;
    max-width: 40rem;
    margin-bottom: 0.5rem;

}
.academic article {
    background-color: #e4e0d5;
    color: #3f0243;
    border: 4px #6f4175 solid;
    border-radius: 0.5rem;
    padding: 1.3rem;
    margin: 0.9rem;
}
.academic a:link {
    color: #7D1049;
}
.academic a:link :visited {
    color: #E4B7AD;
}
